.carrossel {
    text-align: center;
    font-size: 20px;
    margin: 1em;

    h1 {
      color: var(--azul-marinho);  
      font-size: 30px;
      font-weight: 600;
    }
    
    &__imagens {
        display: flex;
        overflow-x: auto;
        scroll-behavior: smooth;

        img {
            padding: 0 .5em;
            width: 250px;
        }
    }

    &__imagens::-webkit-scrollbar {
        display: none;
    }

    button {
        display: none;
        
    }
}