.card {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: var(--azul-background);

    h2 {
        position: absolute;
        color: var(--branco);
        font-weight: 600;
        margin-left: 2em;
        margin-top: 8.7em;
        font-size: 16px;
    }

    h3 {
        background-color: var(--vermelho);
        border-radius: 0px 12px 12px 0px;
        width: 6.2em;
        font-size: 16px;
        padding-left: .5em;
        color: var(--branco);
        font-weight: 500;
        position: absolute;
        left: 45px;
        margin-top: 1em;
        
    }

    h4 {
        background-color: var(--azul);
        width: 5em;
        position: absolute;
        left: 45px;
        margin-top: 12em;
        font-size: 14px;
        border-radius: 12px;
        color: var(--branco);
        font-weight: 500;
        margin-left: 1em;
       }
    
    a {
        text-decoration: none;
        color: var(--preto);
    }

    &__link {
       margin: 1em 2em;
       background-color: var(--branco);
       border-radius: 8px;
 
    }

    &__descricao {
        padding: 0 1em;

        h1 {
            font-size: 20px;
            font-weight: 600;
            margin-top: 1em;
        }

        p {
            font-size: 14px;
            margin-bottom: 0;
        }
    }
    

}

.info {
    margin: 1em 0;

    &__elemento {
        display: flex;
        align-items: center;
        justify-content: center;
        
        p {
            margin-left: 1em;
        }
    }
}
