.cabecalho {

    background-color: var(--azul-marinho);
    display: flex;
    align-items: center;
    position: relative;

    &__logo {
        
        img {
            width: 50%;
            margin-left: 6em;
        }
    }
    
}