.ofertas {

    background-color: var(--azul-background);
    padding: 1em 0;

    h1 {
        text-align: center;
        color: var(--azul-marinho);  
        font-size: 30px;
        font-weight: 600;
    }
}