.banner {
    
    &__imagem {
        position: relative;

        img {
            width: 100vw;
            height: 70vw;
        }
    }

     
        h1 {
            position: relative;
            top: -80px;
            text-align: center;
            color: var(--branco);
            padding: 0 1em;
            margin: 0;
            font-size: 24px;
        }
        

}